@import 'config';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

:root {
    --headline-color: white;
    --background-color: rgba(184,200,237,255);
    --text-color: rgba(255, 255, 255, 0.4);
}

html, body {
    background: $primary-color;
    font-family: 'Open sans', sans-serif;
}

//navigation bar

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba (0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;


    &:first-child{
        margin-right: auto;
    }

    &:last-child{
        display: none;
    }
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

    &:hover{
        background-color: #f0f0f0;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


//Headings

h1,
h2, 
h3 {
    margin: 0;
    font-weight: 540;

    &.lg-heading {
        text-align: center;
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
        
    }

    &.sm-heading {
        font-size: 45px;
        font-weight: bold;
        color: #333;
        margin-bottom: 1rem;
        padding: 0;
        margin-top: 2rem;
    }
}



header {
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}


// Landing page and parallax effects

.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
    background-color: rgba(24,23,32,255);
}

.landing-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -5;
}

.parallax-title-logo-img {
    
    align: center;
    width: 60%;
    max-width: 1800px;
    min-width: 800px;
    height: auto;
    margin-top: 30px;
    transform: translateZ(-35px) scale(0.65);
    position: absolute;
    z-index: -4;

}

.parallax-backdrop-img{
    transform: translateZ(-80px) scale(1.8);
}

.parallax-1-img {
    transform: translateZ(-60px) scale(1.6);
}

.parallax-2-img {
    transform: translateZ(-40px) scale(1.4);
}

.parallax-3-img {
    transform: translateZ(-15px) scale(1.15);
}

.parallax-foreground-img {
    scale: 1;
}

.parallax-backdrop-img,
.parallax-1-img,
.parallax-2-img,
.parallax-3-img,
.parallax-foreground-img
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
    
}

.landing-content {
    font-size: 26px;
    padding: 2rem;
    background-color: rgba(24,23,32,255);
    color: white;
    z-index: 0;

    .sm-heading{
        color: rgb(201, 166, 12);
        margin-bottom: 60px;
    }
}


.landing-screen{
    justify-content: center;
    height: 100vh;
}

.landing-card{
    width: 50%;
    min-width: 370px;
    max-width: 970px;
    height: 80px;
    padding-left: 30px;
    border-radius: 20px;
    color: white;
    background: rgb(33, 41, 58);
    justify: center;
    margin-bottom: 60px;

    animation: card-slide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.landing-card-sight{
    width: 42%;
    min-width: 320px;
    max-width: 800px;
    height: 50px;
    border-radius: 20px;
    padding-left: 30px;
    color: white;
    background: rgb(109, 118, 138);
    justify: center;
    margin-bottom: 60px;
    margin-left: 8%;

    animation: card-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


// about page

.about-text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 20px;
    color:rgba(0, 30, 50, 1);
    z-index: 1;

}

.about-text-proper {
    border-top: 2px solid rgba(0, 30, 50, 1);
    column-width: 500px;
    column-gap: 4rem;
    padding-top: 40px;
    line-height: 1.6;
    font-weight: 300;
}
   

// Discover page / Places

.discover-content {
    width: 80%;
    margin: auto;
}

.highlights {
    padding: 50px, 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    max-width: 1000px;
    margin: auto;
    border-bottom: 30px;
}
.places-grid {

    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-items: center;
    justify-content: center;
    place-items: center;
    margin: auto;
    width: 80%;
}

.item-card {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 340px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    &:hover{
        .card-content{
            right: 0;
        }
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        transition: 0.5s;

        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        border-radius: 20px;
    }

    .card-title{
        padding-top: 30px;
        color: white;
        font-size: 30px;
        font-weight: 200;
    }

    .card-text{
        color: white;
        font-size: 15px;
        line-height: 25px;
        font-weight: 350;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    
    
}
.card-button{
    color: whitesmoke;
    background-color: rgba(0, 30, 50, 0.7);
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-sizing: 5px;
    font-weight: 500;
    width: 100px;

    cursor: pointer;
}

// Map Page

.location-container {
    width: 80%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: $primary-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.open-map {
    padding: 10px;
    border-radius: 20px;
    border: none;
    display: inline-block;
    font-weight: 600;
    
}

.open-map:hover{
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.2);    
} 

.map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
}

.top-button-container{
    padding-bottom: 10px;
    display: inline-block;

}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

// Button Styles

@import 'mobile';